/* Sass Расширения */
%blue_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background: var(--dark-blue);
    height: 48px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

// Main Screen
.main_screen {
    width: 100vw;
    margin-top: 95px;

    @media (max-width: 1550px) {
        box-shadow: none;
    }

    @media (max-width: 500px) {
        margin-top: 45px;
    }

    .main_img {
        width: 100%;
        height: 500px;
        object-fit: cover;

        &--adaptive {
            display: none;
        }

        @media (max-width: 600px) {
            display: none;

            &--adaptive {
                display: block;
                height: 270px;
            }
        }
    }

    .breadcrumbs {
        font-weight: 400;
        font-size: 16px;
        line-height: 19.5px;
        color: var(--dark-grey);
        display: flex;
        word-spacing: 5px;
        max-width: 100%;
        padding: 0 250px;
        margin-top: 15px;

        &--text--adaptive {
            display: none;
        }

        @media (max-width: 1550px) {
            padding: 10px 100px;
        }

        @media (max-width: 1300px) {
            padding: 10px 40px;
        }

        @media (max-width: 600px) {
            padding: 10px 25px;

            &--text {
                display: none;

                &--adaptive {
                    display: block;
                }
            }
        }
    }

    &--caption {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        color: var(--black);
        margin: 50px 0;

        @media (max-width: 500px) {
            margin: 10px 0;
            font-size: 32px;
        }
    }
}

/* Стили попапа */
.popup__background {
    display: flex;
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #060637;
    opacity: 0;
    transition: all .3s linear;
    z-index: -1;
}

.popup__background__active {
    opacity: 0.6;
    z-index: 3;
}